body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
}

section {
  height: calc(100vh);
  width: calc(100vw);
  color: white;
  scroll-snap-align: start;
}

section:nth-of-type(1) {
  background: url("./assets/road.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* -webkit-animation: Section 4s forwards 0s linear;
          animation: Section 4s forwards 0s linear; */
  text-align: center;
}

section:nth-of-type(2) {
  /* -webkit-animation: Section 3s forwards 0s linear;
          animation: Section 3s forwards 0s linear; */
  background: url("./assets/fullstack.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-of-type(3) {
  /* -webkit-animation: Section 1s forwards 0s linear;
          animation: Section 1s forwards 0s linear; */
  background: url("./assets/rainy.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section h1 {
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

section p {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

section .me {
  height: 25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border-radius: 50%;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 21px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 2px silver;
}

.card-collection {
  display: grid;
  grid-row-gap: 10vw;
}

.card {
  position: relative;
  height: 400px;
  width: 300px;
  /* border-style: inset;
  border-width: 2px;
  border-color: whitesmoke;
  border-radius: 20px; */
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 300px;
  border-style: inset;
  border-width: 2px;
  border-color: whitesmoke;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: linear-gradient(white, black);
  border-radius: 20px;
  border-style: inset;
  border-width: 2px;
  border-color: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

#description {
  font-size: 16px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0px 0px 0px black;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.card-image {
  box-align: center;
  height: 300px;
  width: 300px;
}

.tech {
  height: 45px;
  width: 300px;
  font-size: 36px;
  text-align: center;
  padding-top: 5px;
}

.small {
  height: 15px;
  width: 15px;
}

#card1 {
  grid-area: 2 / 4 / span 1 / span 1;
}

#card2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

#card3 {
  grid-area: 2 / 2 / span 1 / span 1;
}

#lang {
  height: 150px;
  width: 135px;
}

#lang:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.allLanguages {
  width: 1200px;
  margin-top: 48vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: Languages 1.5s forwards 0s linear;
          animation: Languages 1.5s forwards 0s linear;
}

a:link {
  text-decoration: none;
}

#email {
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  color: white;
}

#linkedin {
  font-size: 2em;
  margin-left: 2vw;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  color: white;
}

#github {
  font-size: 2em;
  margin-left: 2vw;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  color: white;
}

@-webkit-keyframes Section {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    height: 1px;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    height: 100vh;
  }
}

@keyframes Section {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    height: 1px;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    height: 100vh;
  }
}

@-webkit-keyframes Languages {
  0% {
    -webkit-transform: rotate(0) scale(0.5) translateY(-1500px);
            transform: rotate(0) scale(0.5) translateY(-1500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

@keyframes Languages {
  0% {
    -webkit-transform: rotate(0) scale(0.5) translateY(-1500px);
            transform: rotate(0) scale(0.5) translateY(-1500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*# sourceMappingURL=style.css.map */