#grid-container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-gap: 3vw;
    padding-left: 4vw;
    background-color: #0D2E37;
} 

.parallax-container {
    height: 500px;
    mix-blend-mode: darken;
}

#quote {
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 20vh;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #0D2E37;
}

#words {
    text-align: center;
    font-size: 20px;
}

#author {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

#navbar {
    background-color: #0D2E37;
}

.nav-color {
    color: #9CA3DB;
    font-size: 20px;
}

#header {
    text-align: center;
    border: 4px;
    border-style: outset;
    border-color: #454B66;
    background-color: #454B66;
    color: #9CA3DB;
    text-shadow: 2px 2px #0D2E37;
}

#picture {
    border: 4px;
    border-radius: 50%;
    border-style: outset;
    height: 350px;
}

#aboutMe {
    width: 50vw;
    margin-right: 25vw;
    margin-left: 25vw;
    background-color: white;
}

#title {
    font-size: 30px;
}

#lang {
    height: 150px;
    width: 135px;
    margin-left: 2vw; 
    margin-top: 420px;
    margin-bottom: 40px;  
}

#lang:hover {
    animation: bounce 1s;
}

#languages {
    border: 4px;
    border-style: outset;
    border-color: #454B66;
    background-color: #677DB7;
    color: #0D2E37;
    text-align: center;
    text-shadow: 2px 2px #9CA3DB;
    background-image: url("./assets/fullstack.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

#card-title {
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px #0D2E37;
    background-color: #454B66;
    color: #9CA3DB;
    opacity: .50;
    width: 100%;
}

#card-title:hover {
    opacity: 1;
    border: 4px;
    border-style: inherit;
    border-color: silver;
}

#card-content {
    background-color: #005C69;
    color: #9CA3DB;
    text-shadow: 2px 2px #424242;
}

#card-action {
    background-color: #677DB7;
}

#card-link {
    color: #005C69;
}

#card-link:hover {
    font-weight: bolder;
}

#cardImage {
    height: 250px;
}

#card1 {
    grid-area: 1 / 1 / span 1 / span 1; 
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card2 {
    grid-area: 1 / 2 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card3 {
    grid-area: 1 / 3 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card4 {
    grid-area: 1 / 4 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card5 {
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card6 {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card7 {
    grid-area: 2 / 3 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card8 {
    grid-area: 2 / 4 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card9 {
    grid-area: 3 / 1 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card10 {
    grid-area: 3 / 2 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card11 {
    grid-area: 3 / 3 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card12 {
    grid-area: 3 / 4 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card13 {
    grid-area: 4 / 1 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card14 {
    grid-area: 4 / 2 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card15 {
    grid-area: 4 / 3 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#card16 {
    grid-area: 4 / 4 / span 1 / span 1;
    background-color: #9CA3DB;
    border: 4px;
    border-style: outset;
    border-color: #677DB7;
}

#webpages {
    border-style: outset;
    border-color: #9e9e9e;
    background-color: #424242;
}


#email {
    font-size: 28px;
    color: #9CA3DB;
}


#linkedin {
    font-size: 28px;
    margin-left: 2vw;
    color: #9CA3DB;
}

#github {
    font-size: 28px;
    margin-left: 2vw;
    color: #9CA3DB;
}

#about-me {
    background-color: #005C69;
}

#section {
    background-color: #0D2E37;
    color: #9CA3DB;
}

#aboutMe {
    background-color: #9CA3DB;
    color: #0D2E37;
}

#footer {
    text-align: center;
}

@media screen and (max-width: 600px) {
    #quote {margin-top: 15vh; margin-left: 10vw; margin-right: 10vw;}
    #picture {height: 200px; width: 200px;}
    #lang { margin-top: 0vh;}
    #card1 {grid-area: 1 / 1 / span 1 / span 4;}
    #card2 {grid-area: 2 / 1 / span 1 / span 4;}
    #card3 {grid-area: 3 / 1 / span 1 / span 4;}
    #card4 {grid-area: 4 / 1 / span 1 / span 4;}
    #card5 {grid-area: 5 / 1 / span 1 / span 4;}
    #card6 {grid-area: 6 / 1 / span 1 / span 4;}
    #card7 {grid-area: 7 / 1 / span 1 / span 4;}
    #card8 {grid-area: 8 / 1 / span 1 / span 4;}
    #card9 {grid-area: 9 / 1 / span 1 / span 4;}
    #card10 {grid-area: 10 / 1 / span 1 / span 4;}
    #card11 {grid-area: 11 / 1 / span 1 / span 4;}
    #card12 {grid-area: 12 / 1 / span 1 / span 4;}
    #card13 {grid-area: 13 / 1 / span 1 / span 4;}
    #card14 {grid-area: 14 / 1 / span 1 / span 4;}
    #card15 {grid-area: 15 / 1 / span 1 / span 4;}
    #card16 {grid-area: 16 / 1 / span 1 / span 4;}
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}